# Gmu key mappings
# Required keys: Modifier, Up, 
# Down, Pause, ProgramInfo, Exit,
# PlaylistPlayItem, PlaylistClear,
# FileBrowserAddFileToPlaylistOrChDir

Modifier=Alt

# Global mappings:
Up=Up
Down=Down
Pause=Mod+X
PreviousTrack=L
NextTrack=R
ToggleView=Start
Exit=Mod+Start
#Left=
#Right=
#Stop=Mod
#Lock=
#Unlock=
#IncreaseVolume=
#DecreaseVolume=
#ToggleTime=
#SeekForward=
#SeekBackward=
#ShutdownTimer=
#Help=

# Program info mappings:
ProgramInfo=Mod+B
ProgramInfoOkay=B

# File browser mappings:
FileBrowserAddFileToPlaylistOrChDir=B
FileBrowserAddDirToPlaylist=A
#FileBrowserDirUp=
#FileBrowserChDir=
#FileBrowserPlayFile=

#FileBrowserInsertFileIntoPlaylist=
#FileBrowserNewPlFromDir=
#FileBrowserDeleteFile=

# Playlist mappings:
PlaylistPlayItem=B
PlaylistToggleRandomMode=A
PlaylistClear=X
#PlaylistRemoveItem=
#PlaylistSave=

# Playlist save dialog:
#PlaylistSaveSelect=
#PlaylistSaveCancel=
#PlaylistSaveLoadList=
#PlaylistDeleteFile=
#PlaylistSaveAppendList=
#PlaylistQueue=

# Track info mappings:
TrackInfoToggleCover=B
TrackInfoToggleText=A

# Question dialog mappings: 
QuestionYes=B
QuestionNo=A

# Setup mappings:
#SetupSelect=
#SetupSaveAndExit=
#SetupSaveAndRunGmu=
#SetupFileBrowserSelect=
#SetupFileBrowserChDir=
#SetupFileBrowserCancel=
